@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

    h3 {
        @apply text-3xl py-2  font-light text-center;
        }
    h4{
        @apply text-2xl text-center mb-3 ;
    }
    p {
        @apply text-black mx-4 pl-2 text-left indent-2 mb-3 text-base md:text-xl;
    }
    .links {
        @apply text-base lg:text-lg rounded-lg bg-orange-500
            text-white border border-white/50
            hover:underline hover:border-white
            sm:mx-1 mx-2 p-2;
    }
    .tag {
        @apply text-base italic text-gray-900 bg-gray-100
                rounded-md px-1 py-1 mx-1 my-2;
    }
}